Nama : Septi Intan Amalia

Nim : H071191022

In [87]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm

#import module bagian pengukuran kinerja
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import cohen_kappa_score
from sklearn.metrics import fbeta_score
from sklearn.metrics import roc_auc_score

In [88]:
#untuk import data dan dijadikan dataframe
df = pd.read_csv("/content/drive/MyDrive/RiceGonenandJasmine.csv")
df.head(25)

    id  Area  MajorAxisLength  ...  Roundness  AspectRation    Class
0    1  4537        92.229317  ...   0.764510      1.440796  jasmine
1    2  2872        74.691881  ...   0.831658      1.453137  jasmine
2    3  3048        76.293164  ...   0.868434      1.465950  jasmine
3    4  3073        77.033628  ...   0.870203      1.483456  jasmine
4    5  3693        85.124785  ...   0.874743      1.510000  jasmine
5    6  2990        77.417073  ...   0.798439      1.519342  jasmine
6    7  3556        84.323564  ...   0.867148      1.521727  jasmine
7    8  3788        86.952411  ...   0.858473      1.540487  jasmine
8    9  2629        74.133114  ...   0.768594      1.542058  jasmine
9   10  5719       106.721142  ...   0.904748      1.547183  jasmine
10  11  2665        74.364021  ...   0.817045      1.547536  jasmine
11  12  3231        81.304200  ...   0.848319      1.550094  jasmine
12  13  2805        77.047682  ...   0.800639      1.564653  jasmine
13  14  3265        83.378487  ...   0.790285      1.580190  jasmine
14  15  4301        94.915392  ...   0.814449      1.586608  jasmine
15  16  3393        84.058480  ...   0.846095      1.587462  jasmine
16  17  3475        84.581148  ...   0.891706      1.590134  jasmine
17  18  4577        98.358549  ...   0.856198      1.618982  jasmine
18  19  3028        81.277552  ...   0.849297      1.653079  jasmine
19  20  3552        88.029378  ...   0.828419      1.655433  jasmine
20  21  3852        92.208290  ...   0.803032      1.668113  jasmine
21  22  3163        83.823270  ...   0.811021      1.675639  jasmine
22  23  3910        92.589323  ...   0.770521      1.680039  jasmine
23  24  3505        88.001794  ...   0.839576      1.683374  jasmine
24  25  2647        76.789043  ...   0.826720      1.686592  jasmine

[25 rows x 12 columns]

In [89]:
# label_enc = {"Class": ("jasmine":1.0)}
# df.replace(label_enc, implace=True)

In [90]:
df.shape

(18185, 12)

In [91]:
X = df.iloc[:,0:4]
# X = df[["Area", "MajorAxisLength", "MinorAxisLength"]]
y = df.iloc[:, -1]

In [92]:
y

0        jasmine
1        jasmine
2        jasmine
3        jasmine
4        jasmine
          ...
18180      Gonen
18181      Gonen
18182      Gonen
18183      Gonen
18184      Gonen
Name: Class, Length: 18185, dtype: object

In [93]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, stratify = y)

In [94]:
len(X_test), len(X_train)
#ukuran data setelah dibagi

(6002, 12183)

In [95]:
list_kernel = ["linear", "rbf", "poly", "sigmoid"]

In [96]:
list_model_svm =[]
for i in list_kernel:
  temporary_model = svm.SVC(kernel=i)
  temporary_model.fit(X_train, y_train)
  list_model_svm.append(temporary_model)

In [97]:
list_model_svm

[SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
     decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
     max_iter=-1, probability=False, random_state=None, shrinking=True,
     tol=0.001, verbose=False),
 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
     decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
     max_iter=-1, probability=False, random_state=None, shrinking=True,
     tol=0.001, verbose=False),
 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
     decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
     max_iter=-1, probability=False, random_state=None, shrinking=True,
     tol=0.001, verbose=False),
 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
     decision_function_shape='ovr', degree=3, gamma='scale', kernel='sigmoid',
     max_iter=-1, probability=False, random_state=None, shrinking=True,
     tol=0.001, verbose=False)]

In [98]:
#build model
model_svr = svm.SVR(kernel="linear")
model_svm = svm.SVC(kernel="poly")
#training model
model_svm.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [99]:
#buar variabel hasil prediksi pada data test(uji)
predict_svm = model_svm.predict(X_test)

predict_svm

array(['jasmine', 'jasmine', 'Gonen', ..., 'Gonen', 'jasmine', 'Gonen'],
      dtype=object)

In [100]:
print(classification_report(y_test, predict_svm))

              precision    recall  f1-score   support

       Gonen       1.00      0.95      0.98      2706
     jasmine       0.96      1.00      0.98      3296

    accuracy                           0.98      6002
   macro avg       0.98      0.98      0.98      6002
weighted avg       0.98      0.98      0.98      6002

In [101]:
print(confusion_matrix(y_test, predict_svm))

[[2581  125]
 [   7 3289]]

In [102]:
print(fbeta_score(y_test, predict_svm, beta=0.5, average="micro"))

0.9780073308897034

In [106]:
#print(roc_auc_score(y_test, predict_svm, multiclass))